.thank-you {
  background: #e8d8c3;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}
  


.thank-you h2 {
  color: #28a745;
}

  body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;      
  background-color: #7f9799; 
}

